JAAAM-WPFClient/WPFClient/Connected Services/WCFService/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Betable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TeamId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Betable">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Betable" nillable="true" type="tns:Betable" />
  <xs:complexType name="Match">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Betable">
        <xs:sequence>
          <xs:element minOccurs="0" name="EventId" type="xs:int" />
          <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Held" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Maps" nillable="true" type="tns:ArrayOfMap" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Teams" nillable="true" type="tns:ArrayOfTeam" />
          <xs:element minOccurs="0" name="Winner" nillable="true" type="tns:Team" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
  <xs:complexType name="ArrayOfMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Map" nillable="true" type="tns:Map" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMap" nillable="true" type="tns:ArrayOfMap" />
  <xs:complexType name="Map">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Map" nillable="true" type="tns:Map" />
  <xs:complexType name="ArrayOfTeam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Team" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeam" nillable="true" type="tns:ArrayOfTeam" />
  <xs:complexType name="Team">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Betable">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Team" nillable="true" type="tns:Team" />
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Event">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Betable">
        <xs:sequence>
          <xs:element minOccurs="0" name="GameName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Held" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Matches" nillable="true" type="tns:ArrayOfMatch" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
      <xs:element minOccurs="0" name="Bets" nillable="true" type="tns:ArrayOfBet" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Account">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfBet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bet" nillable="true" type="tns:Bet" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBet" nillable="true" type="tns:ArrayOfBet" />
  <xs:complexType name="Bet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Odds" type="xs:decimal" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:Betable" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
      <xs:element minOccurs="0" name="WinCondition" nillable="true" type="tns:Team" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bet" nillable="true" type="tns:Bet" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Kill">
    <xs:sequence>
      <xs:element minOccurs="0" name="KilledName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KillerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kill" nillable="true" type="tns:Kill" />
  <xs:complexType name="Odds">
    <xs:sequence>
      <xs:element minOccurs="0" name="Match" nillable="true" type="tns:Match" />
      <xs:element minOccurs="0" name="Odds1" type="xs:decimal" />
      <xs:element minOccurs="0" name="Odds2" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Odds" nillable="true" type="tns:Odds" />
  <xs:complexType name="Round">
    <xs:sequence>
      <xs:element minOccurs="0" name="Kills" nillable="true" type="tns:ArrayOfKill" />
      <xs:element minOccurs="0" name="Match" nillable="true" type="tns:Match" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="TeamOneScore" type="xs:int" />
      <xs:element minOccurs="0" name="TeamTwoScore" type="xs:int" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="tns:Team" />
      <xs:element minOccurs="0" name="WinnerSide" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Round" nillable="true" type="tns:Round" />
  <xs:complexType name="ArrayOfKill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kill" nillable="true" type="tns:Kill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKill" nillable="true" type="tns:ArrayOfKill" />
</xs:schema>